.activePost{
    display: grid;
    justify-items: center;
    max-width: 450px;
    margin: 0 auto;
}

.activePost h2{
    border-bottom: 1px solid grey;
}

.activePost .smallDescription{
    font-size: 1.2em; 
    justify-self: center;
}

.activePost #smallDescription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.activePost a .btn-dark{
    background-color: #244C72;
}

.activePost span{
    font-weight: bolder;
}

.activePost #smallDescriptionImportant{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: rgba(225, 225, 225, 0.5);
}

.activePost #smallDescriptionImportant div{
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.activePost #smallDescriptionImportant div:first-child, .activePost #smallDescriptionImportant div:nth-child(3){
    border-left: 3px solid #fff;
}


.activePost #smallDescriptionImportant .bolderP{
    font-weight: bolder;
}

.activePost #smallDescriptionImportant p i{
    font-size: 1.4em;
}

/* Basic Information */
.activePost #basicInformation{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: center;
}

.activePost #basicInformation h3{
    grid-column: 1/3;
    justify-self: center;
    color: #244C72;
    font-weight: bolder;
}

.activePost #basicInformation .basicInformationGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column: 1/3;
    color: #000;
}

.activePost #basicInformation .basicInformationGrid, .activePost #basicInformation .basicInformationGrid:first-of-type{
    margin-top: 50px;
}

.activePost #basicInformation .basicInformationGrid, .activePost #basicInformation .basicInformationGrid p{
    padding: 10px 0;
    margin: 0;
}

.activePost #basicInformation .basicInformationGrid .boldWhite{
    font-weight: bolder;
    color: #fff;
}

.activePost #basicInformation .basicInformationGrid .boldBlack{
    font-weight: bolder;
    color: #000;
    border: 2px solid #244C72;
    border-left: none;
}

.activePost #basicInformation .blue{
    background: #244C72;
    color: #fff;
    border: 2px solid #000;
    border-right: none;
}


/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* JS Gallery */

.activePost #index-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
}

.activePost #index-gallery .gallery-img{
    max-width: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.activePost #index-gallery .gallery-img:first-child{
    grid-column: 1/4;
    max-width: 750px;   
}

.activePost #index-gallery .gallery-img .mainImg{
    width: 100%;
    height: auto;
    max-height: 500px;

}

.activePost #index-gallery .gallery-img .secImg{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

/* Popup window when clicked */
.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50000;
}

.img-window img{
    max-height: 80vh;
    max-width: 95vw;
}

/* Next image btn */
.img-btn-next{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    padding: 10px 30px;
    z-index: 55000;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff!important;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2.5em;
}

.img-btn-next:hover{
    opacity: 0.8;
}

/* Prev image btn */
.img-btn-prev{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    padding: 10px 30px;
    z-index: 55000;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff!important;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2.5em;
}

.img-btn-prev:hover{
    opacity: 0.8;
}

/* JS Gallery */
/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* Google Maps */
.embed{
    position: relative;
    padding-bottom: 400px;
    height: 100px;
    justify-self: start;
    width: 100%;
    overflow: hidden;
    justify-self: stretch;
}

.embed iframe{
    position: absolute;
    left: 0;
    top: 0;
    height: 400px !important;
    width: 100%;
}

/* Building information */

.activePost #buildingInformation{
    grid-column: 1;
    margin-top: 60px;
}

.activePost #buildingInformation h2{
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: none;
}

.activePost #buildingInformation div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-weight: 700;
    font-size: 1.1em;
    padding-bottom: 5px;
}

.activePost #buildingInformation div:first-of-type{
    padding-top: 30px;
}

.activePost #buildingInformation .ghost{
    opacity: 0.45;
    font-weight: normal;
}



@media (min-width: 400px)
{
    .activePost #smallDescriptionImportant{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        white-space: nowrap;
    }
    
    .activePost #smallDescriptionImportant div:nth-child(3){
        border-left: none
    }
}


@media (min-width: 956px)
{  
    /* Side background */ 
    .background{
        /*background: url('../../img/sideWallpaper.jpg');*/
        padding-top: -150px;
    }

    /* Main Grid */
    .activePost{
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 75px 50px 400px 300px 100px auto;
        height: 3000px;
        padding-top: 50px;
        max-width: 1500px;
        max-height: 1550px;
        background: white;
        margin: 0 auto;
    }

    /* Main Text */
    .activePost h2{
        grid-row: 1;
        grid-column: 1/3;
        margin: 0!important;
        padding: 0!important;
        font-size: 3em;
    }

    /* Smaller Description under main text  */
    .activePost .smallDescription{
        grid-row: 2;
        grid-column: 1/3;
    }

    /* Image gallery */
    .activePost #index-gallery{
        grid-column: 2;
        padding-top: 50px;
        margin-right: 100px;
    }

    #index-gallery .gallery-img:first-child{
        width: auto;
    }

    .gallery-img a{
        padding-bottom: 215px;
    }

    /* Basic Information */
    .activePost #basicInformation{
        grid-row: 3;
        grid-column: 1;
        max-width: 450px;
    }

    .activePost #basicInformation .basicInformationGrid, .activePost #basicInformation .basicInformationGrid p{
        padding: 5.7px 0;
        margin: 0;
    }

    .activePost #basicInformation h3{
        margin-top: 0!important;
    }

    /* Post Information */
    .activePost #smallDescription{
        grid-row: 5;
        grid-column: 2;
        align-self: end;
    }

    /* Important Small Description */
    .activePost #smallDescriptionImportant{
        grid-row: 4;
        grid-column: 1;
        justify-self: center;
        align-self: end;
        max-width: 450px;
        padding: 0;
        margin: 0;
    }

    /* Button */
    .activePost a{
        grid-row: 5;
        grid-column: 1;
        align-self: end;
    }
    
    
    /* Google Maps Embbed */
    .embed{
        grid-row: 6;
        grid-column: 2;
        max-width: 750px;
        height: 300px;
        align-self: start;
    }

    /* Custom Information */

   #customInformation{
       display: grid;
       justify-items: center;
   }

   #customInformation h2{
    font-size: 2em;
    padding: 20px;
    background: #244c72;
    border: 2px solid #244c72;
    color: white;
    font-weight: 500;
    }

    #customInformation p{
        max-width: 1000px;
        margin: -50px 0 50px 0;
        /* background-color: rgba(225, 225, 225, 0.5); */
        padding: 50px;
        padding-top: 70px;
        z-index: -1;
        font-weight: 500;
        border:2px solid #244c72;
    }

    /* Suggested Posts */

    #suggestedPosts{
        max-width: 2000px;
        display: grid;
        justify-items: center;
        margin: 0 auto;
        margin-top: 50px;
    }

    #suggestedPosts .card{
        max-width: 250px;
        margin-right: 50px;
    }

    #suggestedPosts .card .card-body h3{
        grid-column: 1/3;
        justify-self: center;
        font-size: 1.9em;
    }

    #suggestedPosts .card .card-body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        font-size: 0.8em;
        padding: 0;
        margin: 0;  
    }

    #suggestedPosts .card .card-body p:last-of-type{
        grid-column: 1/3;
        padding-bottom: 20px;
    }

    


}