.bg-lightblue{
    background-color: #17a2b8;
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #17a2b8;
    z-index: 200;
  }
  .sticky-nav .nav-link,
  .sticky-nav .form-inline{
    color: white;
  }
  .sticky-nav .burger-menu .line {
    background-color: white;
  }
  
  .navbar-custom {
    height: 80px;
    letter-spacing: 0.05em;
    background-color: #17a2b8;
    transition: background-color 0.2s linear;
  }
  
  .navbar-custom .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  
  .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* max-width: 900px; */
  }
  .navbar-list .nav-item {
    margin-right: 40px;
    padding-bottom: 6px;
      padding-top: 6px;
  }
  .navbar-list .active{
    border-bottom: 3px solid #17a2b8;
  }
  .nav-link {
    padding: 0;
    color: white;
    text-transform: uppercase;
    transition: color 0.2s ease-in;
  }
  .nav-link:hover {
    color: #343a40;
  }
  .burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  
  #site-search{
    background: white;
    color: black;
    padding: 5px;
    border:none;
    border-bottom: 3px solid #17a2b8;
    outline: none;
  }
  
  @media screen and (max-width: 1200px) {
    .navbar-list {
      list-style: none;
      padding: 0;
      margin: 0;
      max-width: 100vw;
      flex-direction: column;
      position: fixed;
      top: 80px;
      left: 0;
      background-color: #17a2b8;
      width: 100vw;
      transform: translateY(-600px);
      transition: transform 0.5s ease-in;
    }
    .navbar-list .nav-item:first-child {
      border-top: 3px solid white;
    }
    .navbar-list .nav-item {
      border-bottom: 3px solid white;
      width: 100%;
      margin: 0;
    }
    .navbar-list .nav-link {
      color: white;
      margin-bottom: 10px;
      padding: 20px 40px;
      text-align: center;
    }
    .navbar-show {
      transform: translateY(0px);
    }
  }
  