/* Basic settings */

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html
{
  margin: 0 auto;
	font-family: 'Oswald', sans-serif;
	max-width: 100%;
}


/* Navigation */

.nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70px;
  line-height: 70px;
  justify-items: center;
}

.dropdown{
  display: grid;
  text-align: center;
  grid-column: 1/4;
  display: none;
  
}

#toggle{
  display: none;
}

label {
  display: block;
  cursor: pointer;
}

#toggle:checked + .dropdown {
  display: grid;
}

/* Dropdown */


@media only screen and (min-width: 500px){
  .dropdown{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 3;
  }

  label{
    display: none;
  }

  .nav{
     grid-template-columns: 1fr 1fr 1fr; 
  }
}