#realEsateContent{
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
}

/* City name autosearch - capitalize */
.firstUpper h4:first-letter{
    text-transform: capitalize;
}

.firstUpper{
    color: #3B4483;
    font-weight: bolder;
    padding: 10px 125px 0 125px!important;
    border: 2px solid #3B4483;
    position: absolute;
    z-index: 999999;
}

.firstUpper:hover{
    background: #3B4483;
    color: #fff;
    font-weight: bolder;
}


/* Search Bar */

#realEsateContent .form-group{
    display: grid;
    width: 325px;
    height: 400px;
    grid-row-gap: 15px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#realEsateContent .form-group input:first-of-type{
    margin-top: 10px;
}

#realEsateContent .form-group select:first-of-type{
    margin-top: -20px;
}

.custom-select{
    background-image: url("../../img/plusIcon.svg")!important;
}

/* Submit button */
#realEsateContent .form-group button{
    background: #3B4483;
    color: #fff;
    margin-top: 30px;
    border: 2px solid #000;
}


/* Value Slider */
#realEsateContent .range-slider{
    display: block;
}

#realEsateContent .range-slider input{
    width: 85%;
    cursor: pointer;
    overflow: visible;
}

#realEsateContent .range-slider input:last-of-type{
    margin-left: -240px;
} 

input[type=range] 
{
    -webkit-appearance: none;
    margin: 10px 0;
}

input[type=range]:focus {
    outline: none;
  }

input[type=range]::-webkit-slider-runnable-track 
{
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #e1e1e1;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb 
{
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #3B4483;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
    position: relative;
    z-index: 10000;
}

#searchEngineBarTextDetails{
    grid-template-columns:  1fr 1fr;
}

/* Search Results */

#searchResults{
    display: grid;
    justify-items: center;
    border-top: 2px solid #000;
}

#searchResults .card-deck{
    display: grid;
    grid-template-columns: 1fr;
}

#searchResults .card-deck .card{
    max-width: 300px;
}

#searchResults .card-deck #moreBtn{
    justify-self: center;
}

#searchResults .card-deck .card .card-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.9em;
    padding: 0;
}

#searchResults .card-deck .card .card-body h3{
    grid-column: 1/3;
    font-size: 1.8em;
    margin-top: 15px;
}

#searchResults .card-deck .card .card-body p:last-child{
    grid-column: 1/3;
    padding-bottom: 20px;
}

#searchResults .card-deck .card .card-body p{
    padding-left: 10px;
}

#searchResults .card-deck .card .card-body p i{
    margin-right: 5px;
}


@media (min-width: 700px) 
{
    /* Search Results */
    #realEsateContent #searchResults .card-deck{
        grid-template-columns: 1fr 1fr;
    }

    #realEsateContent #searchResults .card-deck #moreBtn{
        grid-column: 1/3;
    }
}


@media (min-width: 992px) 
{
    /* Navigation */
    #navigation{
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99999;
    }

    /*Content*/

    #realEsateContent{
        grid-template-columns: 400px 2fr;
        grid-template-rows: 1fr;
    }
    
    /*Search Bar*/
    

    /* Search Results */

    #searchResults{
        border-top: none;
    }

    #searchResults .card-deck{
        grid-template-columns: 1fr 1fr;
    }

    #searchResults .card-deck .card{
        max-width: 250px;
    }

    #searchResults .card-deck .card .card-body{
        font-size: 0.8em;
    }

    
}

@media (min-width: 1200px) 
{
    /* Search Results */
    #realEsateContent #searchResults .card-deck{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #realEsateContent #searchResults .card-deck #moreBtn{
        grid-column: 2;
    }
}

@media (min-width: 1500px) 
{
    /* Search Results */
    #realEsateContent #searchResults .card-deck{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    
    #realEsateContent #searchResults .card-deck #moreBtn{
        grid-column: 2/4;
    }
}
