.activePost{
    display: grid;
    justify-items: center;
    max-width: 450px;
    margin: 0 auto;
}

.activePost h2{
    border-bottom: 1px solid grey;
}

.activePost #smallImageGallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: -10px 10px 0 10px;
}

.activePost .smallDescription{
    font-size: 1.2em;
    justify-self: center;
}

.activePost #smallDescription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.activePost a .btn-dark{
    background-color: #3B4483;
}

.activePost span{
    font-weight: bolder;
}

.activePost #smallDescriptionImportant{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background: #e1e1e1;
}

.activePost #smallDescriptionImportant div{
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.activePost #smallDescriptionImportant div:first-child, .activePost #smallDescriptionImportant div:nth-child(3){
    border-left: 3px solid #fff;
}


.activePost #smallDescriptionImportant .bolderP{
    font-weight: bolder;
}

.activePost #smallDescriptionImportant p i{
    font-size: 1.4em;
}

/* Basic Information */
.activePost #basicInformation{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: center;
}

.activePost #basicInformation h3{
    grid-column: 1/3;
    justify-self: center;
    color: #3B4483;
    font-weight: bolder;
}

.activePost #basicInformation .basicInformationGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column: 1/3;
    padding-top: 10px;
    color: #000;
}

.activePost #basicInformation .basicInformationGrid .boldWhite{
    font-weight: bolder;
    color: #fff;
}

.activePost #basicInformation .basicInformationGrid .boldBlack{
    font-weight: bolder;
    color: #000;
}

.activePost #basicInformation .blue{
    background: rgba(59, 68, 131, 0.85);
    color: #fff;
}

/* Google Maps */
.embed{
    position: relative;
    padding-bottom: 400px;
    height: 100px;
    justify-self: start;
    width: 100%;
    overflow: hidden;
    justify-self: stretch;
}

.embed iframe{
    position: absolute;
    left: 0;
    top: 0;
    height: 400px !important;
    width: 100%;
}

/* Additional Information */
.activePost #additionalInformation{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: center;
}

.activePost #additionalInformation h3{
    grid-column: 1/3;
    justify-self: center;
    color: #3B4483;
    font-weight: bolder;
}

.activePost #additionalInformation .additionalInformationGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column: 1/3;
    padding-top: 10px;
    background: #fff;
    color: #000;
}

.activePost #additionalInformation .grey{
    background: #e1e1e1;
    color: #000;
}

.activePost #additionalInformation .additionalInformationGrid .boldBlack{
    color: #000;
    font-weight: bolder;
}


.activePost #additionalInformation{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.activePost #additionalInformation h3{
    grid-column: 1/3;
    justify-self: center;
    color: #3B4483;
    font-weight: bolder;
}

/* Suggested posts*/
.activePost #suggestedPosts{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: center;
}

.activePost #suggestedPosts .card-deck .card{
    max-width: 300px;
    margin: 0 auto;
}

.activePost #suggestedPosts .card-deck .card .card-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.5em;
}

.activePost #suggestedPosts .card-deck .card .card-body p:last-child{
    grid-column: 1/3;
    padding-bottom: 20px;
}

.activePost #suggestedPosts .card-deck .card .card-body h3{
    grid-column: 1/3;
    justify-self: center;
    white-space: nowrap;
    font-size: 1.5em;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* JS Gallery */

/* .wrapper-gallery{
    margin: 0 20vw;
} */

#index-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "img1 img1 img1"
    "img2 img3 img4";
}

#index-gallery .gallery-img{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Images */

#index-gallery .img1{
    grid-area: img1;
    background-image: url("../../img/estates/1/thumbnail/img1.jpg");
}

#index-gallery .img2{
    grid-area: img2;
    background-image: url("../../img/estates/1/thumbnail/img2.jpg");
}

#index-gallery .img3{
    grid-area: img3;
    background-image: url("../../img/estates/1/thumbnail/img3.jpg");
}

#index-gallery .img4{
    grid-area: img4;
    background-image: url("../../img/estates/1/thumbnail/img4.jpg");
}

#index-gallery .img5{
    grid-area: img5;
    background-image: url("../../img/estates/1/thumbnail/img5.jpg");
}

#index-gallery .img6{
    grid-area: img6;
    background-image: url("../../img/estates/1/thumbnail/img6.jpg");
}

#index-gallery .img7{
    grid-area: img7;
    background-image: url("../../img/estates/1/thumbnail/img7.jpg");
}

#index-gallery .img8{
    grid-area: img8;
    background-image: url("../../img/estates/1/thumbnail/img8.jpg");
}


/* Images titles*/

.gallery-img div{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-img div:hover{
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

/* Popup window when clicked */
.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img{
    max-height: 80vh;
    max-width: 80vw;
}

/* Next image */
.img-btn-next{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-next:hover{
    opacity: 0.8;
}

/* Prev image */
.img-btn-prev{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-prev:hover{
    opacity: 0.8;
}

/* JS Gallery */
/*--------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 400px)
{
    .activePost #smallDescriptionImportant{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        white-space: nowrap;
    }
    
    .activePost #smallDescriptionImportant div:nth-child(3){
        border-left: none
    }
}

@media (min-width: 576px)
{
    .activePost #suggestedPosts .card-deck{
        display: grid;
        grid-template-columns: 1fr 1fr!important;
    }
}

@media (min-width: 956px)
{  
    /* Side background */ 
    .background{
        background: url('../../img/sideWallpaper.jpg');
        padding-top: -150px;
    }

    /* Main Grid */
    .activePost{
        grid-template-columns: 1fr 1.3fr;
        grid-template-rows: 75px 100px auto;
        height: 3000px;
        padding-top: 50px;
        max-width: 1250px;
        max-height: 1750px;
        background: white;
        margin: 0 auto;
    }

    /* Main Text */
    .activePost h2{
        grid-row: 1;
        grid-column: 1/3;
        margin: 0!important;
        padding: 0!important;
        max-height: 200px;
        font-size: 3em;
    }

    /* Smaller Description under main text  */
    .activePost .smallDescription{
        grid-row: 2;
        grid-column: 1/3;
        padding-bottom: 50px;
    }

    /* Main Image */
    .activePost .mainImg:first-of-type{
        grid-row: 3;
        grid-column: 2;
        align-self: start;
        padding-top: 0!important; 
        max-height: 450px;
        width: 100%; 
    }

    /* Smaller Images */
    .activePost #smallImageGallery{
        grid-row: 4;
        grid-column: 2;
    }

    /* Basic Information */
    .activePost #basicInformation{
        grid-row: 3/5;
        grid-column: 1;
        max-width: 400px;
        padding-bottom: 5px;
    }

    .activePost #basicInformation h3{
        margin-top: 0!important;
    }

    /* Post Information */
    .activePost #smallDescription{
        grid-row: 5;
        grid-column: 2;
        padding-top: 150px;
    }

    /* Important Small Description */
    .activePost #smallDescriptionImportant{
        grid-row: 5;
        grid-column: 2;
        align-self: start;
        max-width: 700px;
    }

    /* Button */
    .activePost a{
        grid-row: 5;
        grid-column: 2;
        padding-top: 225px;
    }

    /* Additional Information */
    .activePost #additionalInformation{
        grid-row: 5;
        grid-column: 1;
        max-width: 400px;
    }

    /* Suggested Posts */
    /* .activePost #suggestedPosts{
        grid-row: 9;
        grid-column: 1/3;
    } */

    .activePost #suggestedPosts .card-deck{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr!important;
    }

    /* Google Maps Embbed */
    .embed{
        grid-row: 5;
        grid-column: 2;
        max-width: 650px;
        align-self: center;
    }
    
}