.activePost{
    display: grid;
    justify-items: center;
    max-width: 450px;
    margin: 0 auto;
}

.activePost h2{
    border-bottom: 1px solid grey;
}

.activePost #smallImageGallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: -10px 10px 0 10px;
}

.activePost .smallDescription{
    font-size: 1.2em;
    justify-self: center;
}

.activePost #smallDescription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.activePost a .btn-dark{
    background-color: #3B4483;
}

.activePost span{
    font-weight: bolder;
}

.activePost #smallDescriptionImportant{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background: #e1e1e1;
}

.activePost #smallDescriptionImportant div{
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.activePost #smallDescriptionImportant div:first-child, .activePost #smallDescriptionImportant div:nth-child(3){
    border-left: 3px solid #fff;
}


.activePost #smallDescriptionImportant .bolderP{
    font-weight: bolder;
}

.activePost #smallDescriptionImportant p i{
    font-size: 1.4em;
}

/* Basic Information */
.activePost #basicInformation{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: center;
}

.activePost #basicInformation h3{
    grid-column: 1/3;
    justify-self: center;
    color: #3B4483;
    font-weight: bolder;
}

.activePost #basicInformation .basicInformationGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column: 1/3;
    padding-top: 10px;
    color: #000;
}

.activePost #basicInformation .basicInformationGrid .boldWhite{
    font-weight: bolder;
    color: #fff;
}

.activePost #basicInformation .basicInformationGrid .boldBlack{
    font-weight: bolder;
    color: #000;
}

.activePost #basicInformation .blue{
    background: rgba(59, 68, 131, 0.85);
    color: #fff;
}

/* Google Maps */
.embed{
    position: relative;
    padding-bottom: 400px;
    height: 100px;
    justify-self: start;
    width: 100%;
    overflow: hidden;
    justify-self: stretch;
}

.embed iframe{
    position: absolute;
    left: 0;
    top: 0;
    height: 400px !important;
    width: 100%;
}

/* Additional Information */
.activePost #additionalInformation{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: center;
}

.activePost #additionalInformation h3{
    grid-column: 1/3;
    justify-self: center;
    color: #3B4483;
    font-weight: bolder;
}

.activePost #additionalInformation .additionalInformationGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column: 1/3;
    padding-top: 10px;
    background: #fff;
    color: #000;
}

.activePost #additionalInformation .grey{
    background: #e1e1e1;
    color: #000;
}

.activePost #additionalInformation .additionalInformationGrid .boldBlack{
    color: #000;
    font-weight: bolder;
}


.activePost #additionalInformation{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.activePost #additionalInformation h3{
    grid-column: 1/3;
    justify-self: center;
    color: #3B4483;
    font-weight: bolder;
}

/* Suggested posts*/
.activePost #suggestedPosts{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: center;
}

.activePost #suggestedPosts .card-deck .card{
    max-width: 300px;
    margin: 0 auto;
}

.activePost #suggestedPosts .card-deck .card .card-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.5em;
}

.activePost #suggestedPosts .card-deck .card .card-body p:last-child{
    grid-column: 1/3;
    padding-bottom: 20px;
}

.activePost #suggestedPosts .card-deck .card .card-body h3{
    grid-column: 1/3;
    justify-self: center;
    white-space: nowrap;
    font-size: 1.5em;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* JS Gallery */

.activePost #index-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
}

.activePost #index-gallery .gallery-img{
    max-width: 166.666667px;
}

.activePost #index-gallery .gallery-img:first-child{
    grid-column: 1/4;
    max-width: 525px;   
}

.activePost #index-gallery .gallery-img .mainImg{
    width: 100%;
    height: auto;
}

.activePost #index-gallery .gallery-img .secImg{
    width: 100%;
    height: auto;
}

/* JS Gallery */
/*--------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 400px)
{
    .activePost #smallDescriptionImportant{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        white-space: nowrap;
    }
    
    .activePost #smallDescriptionImportant div:nth-child(3){
        border-left: none
    }
}

@media (min-width: 576px)
{
    .activePost #suggestedPosts .card-deck{
        display: grid;
        grid-template-columns: 1fr 1fr!important;
    }
}

@media (min-width: 956px)
{  
    /* Side background */ 
    .background{
        background: url('../../img/sideWallpaper.jpg');
        padding-top: -150px;
    }

    /* Main Grid */
    .activePost{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 75px 50px 300px auto;
        height: 3000px;
        padding-top: 50px;
        max-width: 1250px;
        max-height: 1750px;
        background: white;
        margin: 0 auto;
    }

    /* Main Text */
    .activePost h2{
        grid-row: 1;
        grid-column: 1/3;
        margin: 0!important;
        padding: 0!important;
        max-height: 200px;
        font-size: 3em;
    }

    /* Smaller Description under main text  */
    .activePost .smallDescription{
        grid-row: 2;
        grid-column: 1/3;
    }

    /* Image gallery */
    .activePost #index-gallery{
        grid-column: 2;
        padding-top: 50px;
        margin-right: 100px;
    }

    #index-gallery .gallery-img:first-child{
        height: 340px;
        width: auto;
    }

    .gallery-img a{
        padding-bottom: 215px;
    }

    /* Basic Information */
    .activePost #basicInformation{
        grid-row: 3;
        grid-column: 1;
        max-width: 400px;
        padding-top: 50px;
    }

    .activePost #basicInformation .basicInformationGrid, .activePost #basicInformation .basicInformationGrid p{
        padding: 5px 0;
        margin: 0;
    }

    .activePost #basicInformation h3{
        margin-top: 0!important;
    }

    /* Post Information */
    .activePost #smallDescription{
        grid-row: 5;
        grid-column: 2;
        padding-top: 150px;
    }

    /* Important Small Description */
    .activePost #smallDescriptionImportant{
        grid-row: 5;
        grid-column: 2;
        align-self: start;
        max-width: 700px;
    }

    /* Button */
    .activePost a{
        grid-row: 5;
        grid-column: 2;
        padding-top: 225px;
    }

    /* Additional Information */
    .activePost #additionalInformation{
        grid-row: 5;
        grid-column: 1;
        max-width: 400px;
    }

    .activePost #suggestedPosts .card-deck{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr!important;
    }

    /* Google Maps Embbed */
    .embed{
        grid-row: 5;
        grid-column: 2;
        max-width: 650px;
        align-self: center;
    }
    
}